<section class="mdl-layout__tab-panel mdl-grid portfolio-max-width" id="about">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" lang="en">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">About</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src="images/ilove-header.png" border="0" alt="">
        </div>
        <div class="mdl-grid portfolio-copy">
          <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">I <i class="icon material-icons">favorite</i></h3>
          <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
              <p>&ensp;&ensp;&ensp;&ensp;<i class="icon material-icons">favorite</i><br> &ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;<i class="icon material-icons">favorite</i></p>
          </div>
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">I Love Hearts</h3>
            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                    All begin with one <i class="icon material-icons">favorite</i>.
                </p>
            </div>
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">I Love Application</h3>
            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                     <b>I Love</b> is a game application natively coded in Kotlin.
                     At the beginning, the goal was to draw a beautiful heart.<br>
                     Then, the idea to create a simple game with little hearts came.<br/>
                     The adventure continued with you.
                </p>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" lang="fr" hidden>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">A propos</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src="images/ilove-header.png" border="0" alt="">
        </div>

        <div class="mdl-grid portfolio-copy">
          <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">J'<i class="icon material-icons">favorite</i></h3>
          <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
              <p>&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;<i class="icon material-icons">favorite</i><br> &ensp;&ensp;&ensp;&ensp; &ensp;&ensp;&ensp;&ensp;<i class="icon material-icons">favorite</i></p>
          </div>
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">J'aime les coeurs</h3>
            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                    L'histoire commence avec un <i class="icon material-icons">favorite</i>.
                </p>
            </div>
            <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Application <b>I Love</b></h3>
            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                <p>
                     <b>I Love</b> est un jeu sur mobile codé nativement en Android, avec le langage Kotlin.
                     Au départ, il s'agissait de dessiner un coeur en vectoriel, c'est-à dire à partir de points et de courbe de Beziers.<br>
                     Ensuite, l'idée de créer un simple jeu avec des coeurs se concrétisa.<br/>
                     À présent, <b>I Love</b> est disponible en démonstration et passe une série de tests utilisateurs.<br/>
                    L'idée est de réaliser une application que vous aimez, l'évolution des fonctionnalités est suspendue afin de mieux accueillir vos suggestions.
                </p>
            </div>
        </div>
    </div>
</section>
