  <aside>
    <h2 style="color:black">Retrouvez la démonstration dans l'application :</h2>
    <a href="https://play.google.com/store/apps/details?id=com.chillcoding.kotlin"><h3 align="center" style="color:#00C853">Kotlin pour Android</h3></a>
    <p align="left" style="text-align: center">
      <a align="middle" href="https://play.google.com/store/apps/details?id=com.chillcoding.kotlin"><img width="200px" src="https://gitlab.com/chillcoding-at-the-beach/kotlin-for-android/raw/master/app/src/main/ic_launcher-web.png" alt="Application Kotlin pour Android"></a><br/>
      <a align="middle" href="https://play.google.com/store/apps/details?id=com.chillcoding.kotlin" class="btn btn-default btn-xl wow tada" style="color:#00C853">Téléchargez sur Google Play</a>
    </p>
  </aside>
