<section class="mdl-layout__tab-panel mdl-grid portfolio-max-width portfolio-contact" id="contact">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Contact</h2>
        </div>
        <div class="mdl-card__media">
            <img class="article-image" src=" images/chillcoding-header-contact.png" border="0" alt="">
        </div>
        <div class="mdl-card__supporting-text">
          <div lang="en">
            <p >
                Made by {{ site.data.members.macha.name }} from <a href="/">ChillCoding</a>.
            </p>
            <p>
                Follow <b>@ILoveKotlin</b> on these social networks:
            </p>
          </div>
          <div lang="fr" hidden >
            <p >
                Réalisé par {{ site.data.members.macha.name }} de <a href="/">ChillCoding</a>.
            </p>
            <p>
                Vous pouvez suivre <b>@ILoveKotlin</b> sur ces réseaux sociaux :
            </p>
          </div>
            <p>

              <a href="https://www.instagram.com/ilovekotlin/" class="social-link" title="I Love on Instagram"><i class="fab fa-instagram fa-2x"></i></a>

              <a href="https://www.facebook.com/ilovekotlin/" class="social-link" title="I Love on Facebook"><i class="fab fa-facebook fa-2x"></i></a>

              <a href="https://twitter.com/ILovekotlin/" class="social-link"  title="I Love on Twitter"><i class="fab fa-twitter fa-2x"></i></a>

              <a href="https://www.pinterest.fr/ilovekotlin/" class="social-link"  title="I Love on Pinterest"><i class="fab fa-pinterest-p fa-2x"></i></a>

              <a href="https://www.snapchat.com/add/ilovekotlin" class="social-link"  title="I Love on Snapshat"><i class="fab fa-snapchat-ghost fa-2x"></i></a>

            </p>
            <div lang="en">
              <p>
                  Follow <b>ChillCoding</b> on:
              </p>
            </div>
            <div lang="fr" hidden >
              <p>
                  Suivez <b>ChillCoding</b> sur :
              </p>
            </div>
            <p>

              <a href="https://gitlab.com/{{ site.data.members.macha.gitlab }}" class="social-link" title="{{ site.data.members.macha.gitlab }}"><i class="fab fa-gitlab fa-1x"></i></a>

              <a href="https://www.youtube.com/channel/{{ site.data.members.company.youtube }}" title="ChillCoding on YouTube"><i class="fab fa-youtube fa-1x"></i></a>

            </p>
            <div lang="en">
            <p >
                Send us an email:
              </p>
            </div>
            <div lang="fr" hidden>
              <p >
                Contactez-nous par mail :
              </p>
            </div>
                <p> <a href="mailto:ilovekotlin@gmail.com" class="social-link" title="ilovekotlin@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
            </p>
        </div>
    </div>
</section>
