<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Work is better at the beach.</h1>
            <hr>
            <p>Vous avez une idée d'application <strong>Mobile</strong> ? ChillCoding en fera une réalité.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">En savoir plus.</a>
        </div>
    </div>
</header>
