<section class="no-padding" id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">Applications</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="row no-gutter">
          <div class="col-lg-4 col-sm-6">
              <a href="https://www.chillcoding.com/app/ilove/" class="portfolio-box" title="I Love – Play Store Game Application">
                  <img src="/assets/img/portfolio/ilove.jpg" class="img-responsive" alt="I Love – Play Store Game Application">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Jeu
                          </div>
                          <div class="project-name">
                              I Love
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="https://play.google.com/store/apps/details?id=com.chillcoding.kotlin" class="portfolio-box" title="Kotlin pour Android">
                  <img src="/assets/img/portfolio/kotlinforandroid.jpg" class="img-responsive" alt="Kotlin pour Android">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                               Education
                          </div>
                          <div class="project-name">
                              Kotlin pour Android
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
                  <a href="/app/bachamada" class="portfolio-box" title="Bachamada – Healthy Heart Rate">
                      <img src="/assets/img/portfolio/bachamada.jpg" class="img-responsive" alt="Bachamada – Healthy Heart Rate">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Santé
                              </div>
                              <div class="project-name">
                                  Healthy Heart Rate
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          {% comment %}
          <div class="col-lg-4 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="/assets/img/portfolio/4.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web & Android
                          </div>
                          <div class="project-name">
                              GeoSport
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="/assets/img/portfolio/creativeandlive.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web
                          </div>
                          <div class="project-name">
                              Creative and Live
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          <div class="col-lg-4 col-sm-6">
              <a href="#" class="portfolio-box">
                  <img src="/assets/img/portfolio/6.jpg" class="img-responsive" alt="">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Web
                          </div>
                          <div class="project-name">
                              Data Visu
                          </div>
                      </div>
                  </div>
              </a>
          </div>
          {% endcomment %}
      </div>
  </div>
</section>
