---
layout: app
---
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                </span>
            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect"  >
                    <a class="mdl-layout__tab is-active" href="#ilove">I Love</a>
                    <a class="mdl-layout__tab" href="#beta">Beta</a>
                    <a class="mdl-layout__tab" href="#about"><span lang ="en">About</span><span lang ="fr" hidden>À propos</span></a>
                    <a class="mdl-layout__tab" href="#contact">Contact</a>
                  </div>
        </header>

        <main class="mdl-layout__content">
          {% include ilove.html %}
          {% include beta.html %}
          {% include about_ilove.html %}
          {% include contact_ilove.html %}

          <footer class="mdl-mini-footer">
              <div class="mdl-mini-footer__left-section">
                  <div class="mdl-logo">I Love <3 Game Application</div>
              </div>
              <div class="mdl-mini-footer__right-section">
                  <ul class="mdl-mini-footer__link-list mdl-color-text--white">
                      <li><a href="privacy-policy.html">Privacy & Terms</a></li>
                  </ul>
              </div>
          </footer>
        </main>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
      if(/^fr/.test(navigator.language)) {
        document.querySelectorAll('div[lang="en"],span[lang="en"]').forEach(function(el){ el.setAttribute("hidden", "") });
        document.querySelectorAll('div[lang="fr"],span[lang="fr"]').forEach(function(el){ el.removeAttribute("hidden") });
      }
    </script>
